<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base html</title>
</head>
<body>
    <header>
        <div>
<img src="/static/css/img/2025-05-30_14-58-52.png" alt="">
<div class="adres">
    <p>Кохи Навруз<br>Проспект Исмоили Сомони, 14/2</p>
</div>
<p>Касса<br>+992934540000</p>

<div class="icons">
    <img src="/static/css/img/instagram.png" alt="insta">
    <img src="/static/css/img/facebook.png" alt="fb">
    <img src="/static/css/img/telegram.png" alt="tg">
</div>
<button class="login" type="submit">Войти</button>
<button class="otziv" type="submit">Написать отзыв</button>
        </div>

    <div>
<button>Сегодня</button>
<button>Завтра</button>

<h3>Выберите день</h3>
<select name="date" id="">
    <option value="2025-06-05">5 июня 2025</option>
    <option value="2025-06-06">6 июня 2025</option>
    <option value="2025-06-07">7 июня 2025</option>
    <option value="2025-06-08">8 июня 2025</option>
</select>
    </div>
    </header>
<!-- skoro v kino -->
<main>
    <section class="coming-soon">
        soon">
        <h2>Скоро в кино</h2>
        <div class="movie-grid">
            <div class="movie-card">
                <img src="" alt="Балерина">
                <h3>Балерина</h3>
                <p>Боевик, Триллер (18+)</p>
                <p>С 5 июня 2025</p>
            </div>
            <div class="movie-card">
                <img src="" alt="Как приручить дракона">
                <h3>Как приручить дракона</h3>
                <p>Фэнтези, Семейный (6+)</p>
                <p>С 7 июня 2025</p>
            </div>
            <div class="movie-card">
                <img src="" alt="Память сердец">
                <h3>Память сердец</h3>
                <p>Драма,  (18+)</p>
                <p>С 12 июня 2025</p>
            </div>
            <div class="movie-card">
                <img src="" alt="Кровавый урожай">
                <h3>Кровавый урожай</h3>
                <p>Ужасы, (18+)</p>
                <p>С 19 июня 2025</p>
            </div>
            <div class="movie-card">
                <img src="" alt="F1">
                <h3>F1</h3>
                <p>Драма, Спорт (16+)</p>
                <p>С 26 июня 2025</p>
            </div>
            <div class="movie-card">
                <img src="" alt="Как приручить дракона">
                <h3>Как приручить дракона</h3>
                <p>Фэнтези, Семейный (6+)</p>
                <p>С 7 июня 2025</p>
            </div>
            <div class="movie-card">
                <img src="" alt="МЗГАН 2.0">
                <h3>МЗГАН 2.0</h3>
                <p>(18+)</p>
                <p>С 26 июня 2025</p>
            </div>
        </div>
    </section>
</main>
<!-- FOOTER -->
    <footer>
        <img src="/static/css/img/2025-05-30_14-58-52.png" alt="">
        <p>Контакты: <a href="tel:+992934540000">+992934540000</a></p>
        <div class="bottom">
            <div class="menu">
                <li><a href="">Афиша</a></li>
                <li><a href="">Сеансы</a></li>
                <li><a href="">Кинотеатр</a></li>
                <li><a href="">Мероприятия</a></li>
                <li><a href="">Партнерам</a></li>
                <li><a href="">Видеопоздравление</a></li>
                <li><a href="">Контакты</a></li>
            </div>
            <div class="payment">
            <h3>Способ оплаты</h3>
            <img src="/static/css/img/Screenshot_1.png" alt="">
        </div>
        </div>
    </footer>
</body>
</html>