<!DOCTYPE html>
<html>
<head>
    <title>Восстановление пароля</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Восстановление пароля</h1>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="error-message">
                <span class="close-btn">&times;</span>
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    <span class="close-btn">&times;</span>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <p>Введите ваш email для восстановления пароля</p>
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
    <p>Вспомнили пароль? <a href="{% url 'login' %}">Войти</a></p>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var closeButtons = document.querySelectorAll('.close-btn');
            closeButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    this.parentElement.style.opacity = '0';
                    setTimeout(() => {
                        this.parentElement.style.display = 'none';
                    }, 300);
                });
            });
        });
    </script>
</body>
</html> 