<!DOCTYPE html>
<html>
<head>
    <title>Фильмы</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div style="float: right;">
        {% if user.is_authenticated %}
            <a href="{% url 'my_orders' %}">Мои бронирования</a> |
        {% endif %}
        {% if user.is_authenticated %}
            Привет, {{ user.email }}! <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a> | 
            <a href="{% url 'register' %}">Регистрация</a>
        {% endif %}
    </div>

    <h1>Фильмы и расписание</h1>
    {% for movie in movies %}
        <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
            <h2><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></h2>
            <p>{{ movie.description|truncatewords:30 }}</p>
            <img src="{{ movie.image.url }}" width="200" alt="{{ movie.title }}">
            <h4>Сеансы:</h4>
            <ul>
                {% for show in shows %}
                    {% if show.movie_id.id == movie.id %}
                        <li>
                            <a href="{% url 'show_seats' show.id %}">
                                {{ show.showing_datetime|date:"d.m.Y H:i" }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</body>
</html>